.footer {
  background-color: $clr-dark;

  &__wrapper {
    @include gridUneven(1.3fr 1fr 1fr 1fr, 2rem);
    gap: 4rem;
    color: $clr-light;
    line-height: 1.5;
    @include mediaQuery($mobile) {
      @include grid(1, 2rem);
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 3rem;
      text-transform: uppercase;
    }

    ul li {
      margin: 1.5rem 0;
    }

    a {
      color: $clr-light;
      font-size: 1.5rem;
    }
  }
}

.copyright {
  text-align: center;
  color: $clr-primary;
  background-color: $clr-dark;
}
